# Base config options
FREQUENCY_IN_HOURS=1
LOG_PATH=log
BACKUP_PATH=/home/user/backups

# Docker/Compose options
DB_CONTAINER_NAME=db
DOCKER_BACKUP_PATH=/home/user/backups
DOCKER_LOG_PATH=/home/user/logs

# Telegram options
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id

## File control
MAX_FILES=10
FILES_TO_DELETE=1
